{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header class="hero">
        <img src="{{ asset('uploads/posts/') ~ lastPost.featuredImage }}" alt="{{ lastPost.title }}">
        <div class="card-body">
            {% for category in lastPost.categories %}
                <span class="badge badge-primary">{{ category.name }}</span>
            {% endfor %}
            <h2><a href="{{ path('app_posts_details', {slug: lastPost.slug}) }}">{{ lastPost.title }}</a></h2>
            <p>{{ lastPost.users.nickname }}</p>
        </div>
        <h2>{{lastPost.title}}</h2>
    </header>
    <div class="clear"></div>
    <main class="container">
        <section>
            <h2 class="text-center my-5">Derniers articles</h2>
            <div class="grid">
                {% for post in posts %}
                    <article class="card">
                        <img src="{{ asset('uploads/posts/mini/300x300-') ~ post.featuredImage }}" alt="{{ post.title }}">
                        <div class="card-body">
                            {% for category in post.categories %}
                                <span class="badge badge-primary">{{ category.name }}</span>
                            {% endfor %}
                            <h3><a href="{{ path('app_posts_details', {slug: post.slug}) }}">{{ post.title }}</a></h3>
                            <p>{{ post.users.nickname }}</p>
                        </div>
                        <h2>{{post.title}}</h2>
                    </article>
                {% endfor %}                
            </div>

        </section>
         <section>
            <h2>Auteurs actifs</h2>
            {% for user in users %}
                <h3>{{ user[0].nickname }} {{user.total}}</h3>
            {% endfor %}
        </section>
    </main>
{% endblock %}